.*

*.log
*.pid
*.scss.ts
*.iml

*.tgz
*.gz
*.zip
*.bz2

*.jar

*.sqlite

__tmp

bower_components
coverage
dist
lib
node_modules
output
target
temp
yarn.lock

docs/_site
docs/Gemfile.lock

repos
packages

conf/examples/jupyterlab/*/build
